# Pasta de configurações do Visual Studio
.vs/

# Pastas de compilação (Build output)
[Bb]in/
[Oo]bj/

# Arquivos de usuário específicos
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos de configuração e segredos locais
coinup-723000-firebase-adminsdk-fbsvc-3176fe74be.json

# Outros
*.DS_Store
Thumbs.db